a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.layer-1 {
  z-index: -1;
}

.layer0 {
  z-index: 0;
}

.layer1 {
  z-index: 1;
}

.logo-img {
  height: 50px;
  transform: translate(100px, 110px);
}

.menu-big {
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: 0;
  left: 0;
  margin-left: 0;
  border-radius: 0;
  background: rgb(65, 105, 225);
  transition: all .5s;
}

.menu-small {
  background: rgb(255, 255, 255);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  top: 0%;
  left: 0%;
  margin-left: -40px;
  margin-top: -30px;
  transition: all .5s;
}

.menu-small > h1 {
  transform: translate(90px,85px);
  font-size: 24px;
}

.menu-items {
  width: fit-content;
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.menu-items > a {
  color: rgb(255, 255, 255);
}

.menu-items-frame {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}
